.header{
    background-color: #191919;
    align-items: center;
    color: burlywood;
    text-align: center;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; 
}
img:hover{
    opacity: 0.5;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }